@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Products";
}

<h1 class="display-4 pb-5">All products</h1>

<div class="row">
    @foreach(var product in Model)
    {
        <div style="position: relative;" class="col-4">
            <div class="ajaxbg d-none">
                <img style="height: 50px;" src="~/images/load_circle.gif">
                <p class="lead alert alert-success text-center d-none">
                    Товар был добавлен!
                </p>
            </div>

            <img src="~/media/products/@product.Image" class="img-fluid" alt="">
            <h4>@product.Name</h4>
            <div>
                @Html.Raw(product.Description)
            </div>
            <p>
                @product.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" data-id="@product.Id" class="btn btn-primary add-to-cart">Add to cart</a>
            </p>
        </div>
    }
</div>
@if(ViewBag.ProductPageCount > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <Pagination page-count="@ViewBag.ProductPageCount" page-target="/products" page-number="@ViewBag.ProductPageNumber" page-range="@ViewBag.ProductPage"></Pagination>
    </div>   
}

@section Scripts{
    <script>
        $(function(){
            $("a.add-to-cart").click(function(event) {
                event.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");

                let id = $(this).data("id");

                $.get("../cart/add/" + id, {}, function(data) {
                    $("div.small-cart").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");

                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");
                        });
                    });
                });
            });
        });
    </script>
}

